name: brave-linux

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  linux:
    runs-on: ubuntu-latest
    env:
      VMAJOR: 135
      VERSION: 135.0.7049.114
      SRCDIR: chromium-src
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'

      - name: Reclaiming disk space on / by disabling swap partition
        run: |
          sudo swapoff -av
          sudo rm -f /swapfile

      - name: "remove not needed items"
        run: |
          sudo rm -rf /usr/local/.ghcup \
            /usr/share/dotnet \
            /usr/share/swift \
            /usr/local/share/powershell \
            /usr/local/lib/android \
            /opt/ghc \
            /opt/hostedtoolcache/CodeQL \
            /imagegeneration \
            "$AGENT_TOOLSDIRECTORY"
          sudo docker image prune --all --force
          sudo docker builder prune -a

      - name: Try build
        run: |
          sudo apt-get install build-essential python3-setuptools
          git clone -b kahf/patch/v1.73.101 --depth 1 --single-branch https://github.com/AsilHQ/kahf-browser-core-experimental.git $SRCDIR/src/brave
          cd $SRCDIR/src/brave
          npm install
          npm run init -- --target_os=linux --target_arch=x64
          ./src/build/install-build-deps.sh
          npm run build Release
